html { width:100%; height:100%; margin:0; }
body { width:100%; height:100%; margin:0; }

.black {background:black;}

#Container {
	position: relative;
	margin: 0 auto;
}

#Song_Table {
	position:relative;
	float:left;
	margin:0 1% 1% 0;
}

#Stats_Bar {
	position:relative;
	float:left;
	border: 1px solid black;
	padding: 1%;
	line-height: 1.5;
}

#Previously_Played {
	position:relative;
	margin:0;
	height:40%;
	width:100%;
}

#Floating_Header {
	position:absolute;	
	top: 1%;
	left: 0;
	right: 0;
	z-index:2;
	width: 40%;
	margin: 0 auto;
	overflow: hidden;
	background-color:white;
}

#Playing_Song {
	position:absolute;	
	bottom: 1.5%;
	left: 0;
	right: 0;
	z-index:2;
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	background-color:white;
}
